*{

    box-sizing: border-box;
}

body{

    margin: 0px; 
    padding: 0px;
    background-color:lightgrey;

}

header{

    width: 100%;
    height: 100px;
    padding: 2px;
    background-color: lightslategray;
    border-radius: 5px;

}
h1{
    display: inline-block;
    margin-left: 10px;
}

h2{
    margin-top: 1px;
   
}

/* .nav  li {

    display: inline-block;
} */

li{
    display: inline-block;
    list-style-type: none; 
    
}

li:nth-child(odd){

    margin-left: 6px;
}

li:nth-child(even){

    margin-left: 6px;
}


.headerdiv1{

    width: 40%;
    display: inline-block;
    margin-left:325px;
    text-align: right;

}


main{ 
   
    width: 100%;
    height: 408px;  
    padding-left: 15px;

}



.projects{

     border: 2px ;
}


.project{

    display:inline-block;
    width: 160px;
    height: 160px;

}

footer{

    width: 100%;
    height: 100px;
    background-color: lightslategray;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.pfooter1{
    margin-top: 30px;
    font-style: italic;
}

.reviews{

    margin-top: 30px;
}